[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
python-dotenv = { version="*", extras=["cli"] }
django-cors-headers = "*"
psycopg2-binary = "*"
apscheduler = "*"
requests = "*"
bs4 = "*"
pandas = "*"
ta = "*"
django-db-connection-pool = "*"


[dev-packages]

[requires]
python_version = "3.11"
